{% extends "layout/layout.html" %}

    <h4>{{ title }}</h4>


{% block content1 %}

<table class="table">
    <thead>
        <tr>
            <th>Dia da Semana</th>
            <th>Prato Carne</th>
            <th>Prato Peixe</th>
            <th>Prato Entrada</th>
            <th>Prato Bebida</th>
            <th>Prato Sobremesa</th>



        </tr>
    </thead>
    <tbody>

{% for post in posts %}
      <tr>
            <td> <strong>Domingo</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
    {% for post in segunda %}

      <tr>
            <td> <strong>Segunda</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
        {% for post in terca %}

      <tr>
            <td> <strong>Terça</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
        {% for post in quarta %}

      <tr>
            <td> <strong>Quarta</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
        {% for post in quinta %}

      <tr>
            <td> <strong>Quinta</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
        {% for post in sexta %}

      <tr>
            <td> <strong>Sexta</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}
        {% for post in sabado %}

      <tr>
            <td> <strong>Sabado</strong> </td>
            <td>{{ post[1] }}   </td>
            <td>{{ post[2] }}   </td>
            <td>{{ post[3] }}   </td>
            <td>{{ post[4] }}   </td>
            <td>{{ post[5] }}  </td>
        </tr>
{% endfor %}


    </tbody>
</table>


{% endblock content1 %}