{% extends "layout/layout.html" %}

    <h4>{{ title }}</h4>
{% block content1 %}

    <div id = "container" style="..."></div>
     {% endblock content1 %}

{% block content2 %}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1 (Clique para mostrar detalhes)</th>
            <th>Column 2</th>

        </tr>
    </thead>
    <tbody>

{% for post in posts %}

      <tr>
            <td> <a class="mr-2" href="{{ url_for('tab_menu', post_id=post.id) }}">{{ post.author }}</a> </td>
            <td>{{ post.content }}   </td>


        </tr>






{% endfor %}


    </tbody>
</table>


{% endblock content2 %}