{% extends "layout/layout.html" %}
{% block content1 %} <h4>{{ title }}</h4> <br>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Designação</th>
            <th>Preço</th>
            <th>Alergia</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for each in result %}
        <tr>
            <td><a class="mr-2" href="{{ url_for('product', post_id=each[0]) }}">{{ each[0] }}</a></td>
            {% if each[1] == 0 %}
            <td>Entrada</td>
            {% endif %} {% if each[1] == 1 %}
            <td>Bebidas</td>
            {% endif %} {% if each[1] == 2 %}
            <td>Sobremesas</td>
            {% endif %} {% if each[1] == 3 %}
            <td>Carne</td>
            {% endif %} {% if each[1] == 4 %}
            <td>Peixe</td>
            {% endif %}
            <td>{{ each[2] }}</td>
            <td>{{ each[3] }}</td>
            <td>{{ each[4] }}</td>
            <td>{{ each[5] }}</td>
            <td>{{ each[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content1 %}