{% extends "layout/layout.html" %}
{% block content1 %}
    <article class="media content-section">
  <div class="media-body">
      <div class="article-metadata">
      <a class="mr-2">Operações </a>


    </div>
        <div>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>

  </div>

</article>
    <article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2">Informações </a>
      <small class="text-muted"> ID {{ client[0] }}</small> <br>

    </div>
      <p class="article-content"> <strong>Nome</strong> {{ client[1] }} </p>

      <p class="article-content"> <strong>Data</strong> {{ client[2] }}</p>

  </div>

</article>




    <!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">AVISO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem a certeza que quer efectuar esta operação?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_client', post_id=client[0]) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content1 %}