{% extends "layout/layout.html" %}
<h4>{{ title }}</h4> {% block content1 %}
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Registo</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a class="mr-2" href="{{ url_for('client', post_id=post[0]) }}"> {{ post[0] }}</a></td>
            <td>{{ post[1] }}</td>
            <td>{{ post[2] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content1 %}