{% extends "layout/layout.html" %}

    <h4>{{ title }}</h4>
{% block content1 %}

    <div id = "container" style="..."></div>
     {% endblock content1 %}

{% block content2 %}

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Registo</th>
        </tr>
    </thead>
    <tbody>

{% for post in posts %}

      <tr>
            <td>{{ post[0] }}</td>
            <td><a class="mr-2" href="{{ url_for('tab_client', post_id=post.id) }}">{{ post[1] }}</a></td>
            <td>{{ post[2] }}   </td>


        </tr>






{% endfor %}


    </tbody>
</table>


{% endblock content2 %}