{% extends "layout/layout.html" %}

{% block content1 %}
    <h3>Escola Superior de Tecnologia e Gestão de Viseu Base de Dados II Ano Letivo 2019/20 Trabalho Prático</h3>
<br>

Pretende-se desenvolver uma aplicação Web gerir os dados e informação relativos a uma cadeia de restaurantes da empresa R&R. A R&R tem restaurantes em diversas cidades, vilas e aldeias de Portugal.
Cada restaurante tem uma ementa própria para cada refeição/dia da semana. Sendo que no início da semana é feita a criação das ementas para toda a semana para cada um dos restaurantes.
A ementa está organizada nos grupos seguintes: Bebidas, Entradas, Pratos de Peixe, Pratos de Carne e Sobremesas. Para cada elemento da ementa devem ser registados, pelo menos, pelo menos, os seguintes dados: designação, preço e eventual informação sobre risco de alergia.
Cada cliente de um restaurante é associado a um local (mesa ou cadeira de balcão), sendo o seu consumo associado ao mesmo em função das escolhas que faz da ementa.
 <br><br>
{% endblock content1 %}
