{% extends "layout/layout.html" %}
{% block content1 %} <h4>{{ title }}</h4> <br>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome cliente</th>
            <th>Valor €</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for each in alltransacoes %}
        <tr>
            <td> <a class="mr-2" href="{{ url_for('transacoes', post_id=each[0]) }}">{{ each[0] }}</a> </td>
            <td>{{ each[1] }} </td>
            <td>{{ each[2] }} </td>
            <td>{{ each[3] }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content1 %}
