{% extends "layout/layout.html" %}
{% block content %}
    <h4>{{ title }}</h4>
    <div id = "container" style = "width: 550px; height: 400px; margin: 50px auto"></div>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

{% for post in posts %}

      <tr>
            <td> {{ post.author }} </td>
            <td>{{ post.content }}   </td>
            <td>
            	<div>
                <a class="btn btn-secondary btn-sm " href="{{ url_for('transacoes', post_id=post.id) }}">Details</a>

            </div>
            </td>

        </tr>






{% endfor %}


    </tbody>
</table>
{% endblock content %}